<header class="p-3 text-bg-dark">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Personagens</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Episódios</a></li>
        </ul>
        <!-- <div *ngIf="isCharacter"> -->
            <app-search></app-search>
        <!-- </div> -->
        <!-- <div *ngIf="isEpisode"> -->
            <!-- <app-search></app-search> -->
        <!-- </div> -->
    </div>
</header>