<footer class="d-flex text-bg-dark flex-wrap footer justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; RickyMorty 2023</span>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          
        <li class="ms-3"><a href="https://www.facebook.com/RickandMorty/" class="fa text-bg-dark fa-facebook"></a></li>
        <li class="ms-3"><a href="https://www.instagram.com/rickandmorty/" class="fa text-bg-dark fa-instagram"></a></li>
        <li class="ms-3"><a href="https://www.youtube.com/results?search_query=ricky+and+morty" class="fa text-bg-dark fa-youtube"></a></li>
    </ul>
</footer>