<div class="row" *ngIf="personagem$ | async as personagem">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="image">

                <img [src]="personagem.image" [alt]="personagem.name" class="card-img-top" />
            </div>
            <div class="card-inner" style="text-align: center;">
                <div class="header">

                    <h2>{{personagem.name}}</h2>
                    <h4 class="text-muted">{{personagem.gender}}</h4>
                    <small class="text-muted">{{personagem.created | date}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-dark"(click)="voltar()">Voltar</button>